body {
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 78);
  border-radius: 6px;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title{
  color: black;
  font-weight: bold;
  text-align: center;
}

.title p{
  color: black;
  font-weight: bold;

}

.puntuacion{
  text-align: center;
align-items: center;
font-weight: bold;
place-items: center;
}

.puntuacion p{
  color: #141414;
}
.genreList{
  margin-top: 5%;
}

.list-inline-item{
  text-align: center;
  align-items: center;
  display: inline-block;
  margin-right: 2%;
}

.nameMovie{
color: white;
font-size: 2.25em;
font-weight: 500;
margin-bottom: 0%;
}

.imagen{
  width: 10rem;
  margin: 0.6rem;
}
.justify{
  justify-content: space-between;
}


.list-inline-item .btn-outline-info {
  color: #141414;
  font-weight: bold;
  background: cornsilk;
  border: 5px solid #1386a3;
  margin-bottom: 40px;
  border-radius: 45px;
  font-weight: 100%;
}
.list-inline-item .btn-outline-info:hover {
  background-color: #1386a3;
  font-weight: bold;
  color: white;
  border-color: #1386a3;
  transition: all 0.3s ease-in-out;
}

.card-content{
  padding-bottom: 10%;
}

.padding{  
  padding-bottom: 20%;
}

.card{
  width: 80%;
  align-items: center;
  margin-left: 10%;
  color: transparent;
  border-radius: 5px;
}
.list-inline-item-1 .btn-outline-info {
  color: #141414;
  font-weight: bold;
  background: cornsilk;
  border: 5px solid #1386a3;
  margin-bottom: 40px;
  border-radius: 45px;
  font-weight: 100%;
}
.fa-arrow-alt-circle-right {
  color: #1925d3;
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
}
.fa-arrow-alt-circle-right:hover {
  color: #064b03;
  transition: all 0.3s ease-in-out;
}
