body {
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list-inline-item{
  text-align: center;
  align-items: center;
}
.list-inline-item .btn-outline-info {
  color: #141414;
  font-weight: bold;
  background: cornsilk;
  border: 5px solid #1386a3;
  margin-bottom: 40px;
  border-radius: 45px;
  font-weight: 100%;
}
.list-inline-item .btn-outline-info:hover {
  background-color: #1386a3;
  font-weight: bold;
  color: white;
  border-color: #1386a3;
  transition: all 0.3s ease-in-out;
}

.list-inline-item-1 .btn-outline-info {
  color: #141414;
  font-weight: bold;
  background: cornsilk;
  border: 5px solid #1386a3;
  margin-bottom: 40px;
  border-radius: 45px;
  font-weight: 100%;
}
.fa-arrow-alt-circle-right {
  color: #1925d3;
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
}
.fa-arrow-alt-circle-right:hover {
  color: #064b03;
  transition: all 0.3s ease-in-out;
}
